.panel-container{
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  position:absolute;
}

.panel-header{
  float:left;
  clear:both;
  height:30px;
}

.panel-body{
  position:absolute;
  top:30px;
  left:0px;
  right:0px;
  bottom:0px;
  .panel-object-view{
    height:100%;
    width:60%;
  }
  .panel-attributes-view{
    height:100%;
    background:grey;
  }
}