.v-align-middle{
  position:relative;
  top:50%;
  transform:translateY(-50%);
}
.node{
  outline:  none;
  position:relative;
  .node-selected{
    &:before {
      content:"";
      top:0px;
      left:-1000px;
      bottom:0px;
      position:absolute;
      right:0px;
      background: rgba(65, 133, 191, 0.61);
      color: white;
    }
  }
  .node-header{
    position:relative;
    cursor:pointer;
    height:20px;
    .node-show-children-action{
      display:inline-block;
      width:15px;
      .node-show-children-btn{
        padding:0px;
        margin-top:0px;
        font-size:10px;
        color:#4a4a4a;
      }
    }
    .node-title{
      width: calc(~"100% - 20px");
      text-overflow: ellipsis;
      white-space: nowrap;
      .v-align-middle;
      display:inline-block;
    }
    .node-actions-show{
      display:block !important;
    }
    .node-actions{
      .btn{
        padding: 2px;
      }
      display:none;
      position:absolute;
      right:0px;
      top:0px;
    }
  }
  .node-body{
    padding-left:20px;
  }
  .nodes{
    display:none;
  }
  .nodes-visible{
    display:block;
  }
}

.node-name-text{
  color: rgb(170, 13, 145);
  margin-right:5px;
}
.node-value{
  margin-left:5px;
  color:grey;
}
.node-value-text{
  color:red;
}
.node-value-empty{

}
.node-value-object{
  color:#4a4a4a;
}
.node-value-array{
  color:#4a4a4a;
}
.node-value-number{
  color:blue;
}
.node-value-boolean{
  color:blue;
}